.planetas{
    margin: auto;
}

.planetas_img{
    margin: 20px;
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    border-radius: 40px;

}

.planetas_img:hover{
    background-color: navajowhite;
}
.imagenes{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.emoji{
    color: orange
}